{% extends "themes/pages/user/partial/base_user.html" %}
{% load i18n %}
{% load filter %}
{% load static %}

{% block content_user %}

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="reload"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form id="user_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                             {{ user_form.username.label_tag }}
                             {{ user_form.username|add_class_form_control }}
                        </div>

                        <div class="col-md-6">
                             {{ user_form.current_password.label_tag }}
                             {{ user_form.current_password|add_class_form_control }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                             {{ user_form.password1.label_tag }}
                             {{ user_form.password1|add_class_form_control }}
                        </div>

                        <div class="col-md-6">
                              {{ user_form.password2.label_tag }}
                            {{ user_form.password2|add_class_form_control }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <label>Notifications</label>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled" checked="checked">
                                    Password expiration notification
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled" checked="checked">
                                    New message notification
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled" checked="checked">
                                    New task notification
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    New contact request notification
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group hidden">
                    {% for hidden_field in user_form.hidden_fields %}
                        {% if hidden_field.errors %}
                            <ul>
                                {% for error in hidden_field.errors %}
                                    <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ hidden_field }}
                    {% endfor %}
                </div>

                <div class="text-right">
                    <button id="btn_user" type="button" class="btn btn-primary">{% trans 'save' %}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content_user %}
{% block js_plugins_after %}
{% endblock js_plugins_after %}

{% block js_plugins_before %}
    <script src="{% static 'themes/pages/user/user_password.js' %}"></script>
{% endblock js_plugins_before %}
