{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}

{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">

                            <div class="panel-body">
                                    <div class="text-center">
                                         <h1>WELCOME</h1>
                                            <br>
                                            <p></p>
                                    </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}


