<div class="container-detached">
    <div class="content-detached">

        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="content-group">
                    <h6 class="text-semibold">1. Default sidebar</h6>
                    <p>Default template sidebar has <code>260px</code> width, aligned to the left (to the right in RTL
                        version) and has dark blue background color. All navigation levels are based on accordion
                        <strong>or</strong> collapsible functionality, open on click. Supports 2 versions: static and
                        fixed. Fixed version can be used with native or custom scrollbars.</p>
                </div>
            </div>
        </div>


    </div>
</div>



<div class="sidebar-detached">
    <div class="sidebar sidebar-default">
        <div class="sidebar-content">

            <!-- Sidebar search -->
            <div class="sidebar-category">
                <div class="category-title">
                    <span>Search</span>
                    <ul class="icons-list">
                        <li><a href="#" data-action="collapse"></a></li>
                    </ul>
                </div>

                <div class="category-content">
                    <form action="#">
                        <div class="has-feedback has-feedback-left">
                            <input type="search" class="form-control" placeholder="Search">
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base text-muted"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
