{% load i18n %}
<div class="page-header-content">
{#    <div class="page-title">#}
{#        <h2>#}
{#            <i class="icon-arrow-left52 position-left"></i>#}
{#            <span class="text-semibold">{% trans text_central|capfirst %}</span>#}
{#        </h2>#}
{#    </div>#}

{#    <div class="heading-elements">#}
{#        <div class="heading-btn-group">#}
{#            <a href="#" class="btn btn-link btn-float has-text"><i#}
{#                    class="icon-bars-alt text-primary"></i><span>{% trans "Statistics" %}</span></a>#}
{#            <a href="#" class="btn btn-link btn-float has-text"><i#}
{#                    class="icon-statistics text-primary"></i> <span>{% trans "Analytics" %}</span></a>#}
{#            <a href="#" class="btn btn-link btn-float has-text"><i#}
{#                    class="icon-accessibility text-primary"></i> <span>{% trans "Accessibility" %}</span></a>#}
{#        </div>#}
{#    </div>#}
</div>
