{% extends "account/base.html" %}
{% load i18n %}
{% load filter %}
{% load static %}
{% block content %}
    {% block page-content-siderbar %}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content">
                     <form method="post">
                        {% csrf_token %}
                        <div class="panel panel-body col-md-6 col-md-offset-3">

                            <div class="text-center">
                                <h5 class="content-group">
                                    {% trans "CHANGE PASSWORD" %}
                                </h5>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                {{ password_change_form.oldpassword|add_class:"form-control" }}
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                {{ password_change_form.password1|add_class:"form-control" }}
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                             <div class="form-group has-feedback has-feedback-left">
                                {{ password_change_form.password2|add_class:"form-control" }}
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group btn-group-justified">
									<div class="btn-group">
										<button type="submit" class="btn bg-blue ">
                                            {% trans "Reset My Password" %}
                                        </button>
									</div>
									<div class="btn-group">
										<a href="{% url 'account_login' %}" type="submit" class="btn bg-blue">
                                            Back <i class="icon-arrow-right14 position-right"></i>
                                        </a>
									</div>
								</div>
                            </div>
                            <div class="text-center m-20">
                                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </form>
                    <div class="footer text-muted text-center">
						{{ project_name }} © 2015.
					</div>
                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}
