{% extends "account/base.html" %}
{% load i18n %}
{% load filter %}
{% load static %}
{% block content %}
    {% block page-content-siderbar %}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content">
                     <form>
                        <div class="panel panel-body col-md-6 col-md-offset-3">
                            {% if user.is_authenticated %}
                                <div class="alert alert-danger alert-styled-left alert-bordered">
                                    {% include "account/snippets/already_logged_in.html" %}
                                </div>
                            {% endif %}
                            <div class="form-group text-center">
                                <h1>{% trans "Password Reset" %}</h1>
                                {% blocktrans %}
                                    <p class="no-margin">We have sent you an e-mail.</p>
                                    <p class="no-margin">Please contact us if you do not receive it within a few minutes.</p>
                                {% endblocktrans %}
                            </div>
                            <div class="form-group">
                                <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">
                                    Back <i class="icon-arrow-right14 position-right"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="footer text-muted text-center">
						{{ project_name }} © 2015.
					</div>
                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}
