{% extends "account/base.html" %}
{% load i18n %}
{% load filter %}
{% load static %}
{% block content %}
    {% block page-content-siderbar %}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content">
                     <form method="post">
                        {% csrf_token %}
                        <div class="panel panel-body col-md-6 col-md-offset-3">
                            {% if user.is_authenticated %}
                                <div class="alert alert-danger alert-styled-left alert-bordered">
                                    {% include "account/snippets/already_logged_in.html" %}
                                </div>
                            {% endif %}
                            <div class="text-center">
                                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                                <h5 class="content-group">
                                    Password recovery
                                    <p class="help-block no-margin">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                                </h5>
                            </div>

                            <div class="form-group has-feedback">
                                <input id="id_email" name="email" placeholder="E-mail address" size="30" type="email"
                                       required="" class="form-control">
                                <div class="form-control-feedback">
                                    <i class="icon-mail5 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group btn-group-justified">
									<div class="btn-group">
										<button type="submit" class="btn bg-blue ">
                                            {% trans "Reset My Password" %}
                                        </button>
									</div>
									<div class="btn-group">
										<a href="{% url 'account_login' %}" type="submit" class="btn bg-blue">
                                            Back <i class="icon-arrow-right14 position-right"></i>
                                        </a>
									</div>
								</div>
                            </div>
                            <div class="text-center m-20">
                                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </form>
                    <div class="footer text-muted text-center">
						KassPeru © 2015.
					</div>
                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}
